<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<ul th:each="st : ${studentNames}">
    <li><a th:href="@{student/edit/{id}(id=${st.studentId})}" th:text="${st.name}"></a></li>
</ul>



<form th:method="POST" th:action="@{/student/create}">
    <input type="text" name="name" placeholder="Name"/>


<input type="number" name="age" placeholder="Age"/>
<input type="number" name="number" placeholder="Number" />
<input type="submit"/>
</form>
</body>
</html>